.page {
	font-family: "Courier New", Courier, monospace;
	background-color: #F2AE39;
  text-align: center;
	float: left;
	height: 100vh;
	color: #6F67EE;
	font-weight: bold;
}

.displayed {
	background-color: green;
}

.edge{
	position: absolute;
	right: 0;
	top: 0;
}

body{
	margin: 0;
	padding: 0;
}
